<template name="posts_list">
	<div class="posts grid list">
		{{#each posts}}
			{{> post_item}}
    {{else}}
      <p>No posts found in this area.</p>
		{{/each}}
    {{#if hasPrevPosts}}
    <div class="grid more-button">
      <a class="more-link" href="{{loadPrevUrl}}">&lt; Previous</a>
    </div>
    {{/if}}
    {{#if hasMorePosts}}
    <div class="grid more-button">
      <a class="more-link" href="{{loadMoreUrl}}">Next &gt;</a>
    </div>
    {{/if}}
	</div>
  {{#constant}}<div id="map" class="grid"></div><div style="clear:both"></div>{{/constant}}
</template>
